/**
 * Kafei's take on the Beige theme for reveal.js.
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);


// Override theme settings (see ../template/settings.scss)
$mainColor: #07052A;
$headingColor: #07052A;
$headingFont: Quicksand, sans-serif;
$headingTextShadow: none;
$backgroundColor: #daC37a;
$linkColor: #8b743d;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(79, 64, 28, 0.99);
$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);
$mainFontSize: 26px;

// Background generator
@mixin bodyBackground() {
	@include radial-gradient( rgb(218, 195, 122), rgba(255,255,255,1) );
}

// Action item
.action {
	border: 10px solid $mainColor !important;
	padding: 10px !important;
	background-color: $mainColor;
	color: white;
	margin-bottom: 20px !important;
}

//Image overrides
.caption {
	bottom: 0;
	right: 0;
	position: absolute;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Override typography
.reveal h1 {
	text-transform: none;
}

// Override images
.reveal section img {
	margin: 0px;
	background: none;
	border: 0px;
	box-shadow: none;
}

